body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  overflow: hidden;
}

div#root {
  position: relative;
}

#root{
  height: 100vh;
}

.particles-js-canvas-el{
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
}

