.list-overflow-container {
  border: 1px  rgba(0,0,0,0.00) solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 30px;
  max-height: 400px;
  overflow-y: auto;
}

.list-overflow-container ul {
  margin: 0;
  display:block;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  background-color: rgba(0,0,0,0.30);
  text-align: left;
  border: 1px solid teal;
  word-break: break-all;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}
